<div class="row">
    <div class="col-6">
        <app-dona
            title="Ventas Enero"
            [labels]="labels1"
            [data]="data1"
        ></app-dona>
    </div>
    <div class="col-6">
        <app-dona
            title="Ventas Marzo"
            [labels]="labels1"
            [data]="data1"
        ></app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona
            title="Ventas Abril"
            [labels]="labels1"
            [data]="data1"
        ></app-dona>
    </div>
    <div class="col-6">
        <app-dona
            title="Ventas Mayo"
            [labels]="labels1"
            [data]="data1"
        ></app-dona>
    </div>
</div>